{%extends 'shop/base.html'%}
{%block title%}Thanks{%endblock%}
{%block body%}
<div class="jumbotron text-center " style="margin-top: 80px;">
    <h4 class="display-3">Thank You! For Subscribing</h4>
    <p class="lead"><strong>Please check your email</strong> You will recieve regular updates from now on</p>
    <hr>
    <p>
        Having trouble? <a href="/shop/contact" style="color: #1bbd36; text-decoration: none;">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-success btn-sm" href="/shop" role="button">Continue to homepage</a>
    </p>
</div>
{%endblock%}
{%block footer%}{%endblock%}